.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.Rapp.history

# old work
old*
*_old

# Generated automatically
submit.all.sh
processed_output

# Logfiles
logs
logs*

# private
data/*

# too big
output*
figures/*

# misc files
try.pft.workflow.R
*wrkflw*
contour..R
mymodel.txt
psql.expamples.R
scrap.R
figures/figures.old.data/*
Icon*
try.run.*
*~
*#*
qstat.txt
.last.*

backup_samples/
mvtraits/tests/testthat/*.rds
