.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.rds
*.Rapp.history
# old work
old_Bayes_Project/*
old_EE509_Project/*
# private
data/*
# too big
output/try.multi*
output/try.uni*
output/try.pft*
output/try.jags*
output/alt/*
# misc files
try.pft.workflow.R

